/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.my_menu ul {
	display: none;
	position: absolute;
	width:50%;
	left:30px;
}
.peoples ul{
	margin-top: 100px;
}
.my_menu ul li{
	display: block;
}
.my_menu a{
	margin: 5px;
}
.advertisement{
	margin-top: 50px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.logipanel{
	text-align: center;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.slide-picture img {
    height: auto;
     margin-left: 0;
}
.news  img {
    float: left;
    margin-right: 0;
    width: 100%;
}
.main-content .news  .info_footer img {
    width: 16px;
}
.opinion {
    width: 100%;
    max-width: 100%;
    margin-left: -29px;
}
.opinion .tabs_box {
    width: 100%;
    max-width: 100%;
}
.pre-footer .footer-opinion {
     margin-left: 0;
}
.social {
    width: 100%;
    margin-left: 0;
}
.advertisement {
    width: 100%;
    margin-left: 0;
}
.advertisement {
    width: 100%;
    margin-left: 0;
}
.second-pre-footer .next-news .left-news img{
    width: 100%;
}
.second-pre-footer .next-news .right-news img{
    width: 100%;
}
.second-pre-footer .right-news {
    margin-left: 0;
}
.second-pre-footer .left-news {
    margin-right: 0;
}
.second-pre-footer .next-news  .info_footer img {
    width: 16px;
}
.second-pre-footer .facebook-feed {
    max-width: 412px;
    margin-left: 0;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.all-content{
    margin-right: 15px;
    margin-left: 15px;
}
.opinion {
    margin-left: 27px;
}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
.all-content{
    margin-right: 15px;
    margin-left: 15px;
}
.top_header{
	padding-left: 15px;
}
.title-progress-top{
	width: 100%;
}
.top-content .title-progress-top{
	width: auto;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
.all-content{
	padding-right: 15px;
  	padding-left: 15px;
}
.top_header{
	padding-left: 15px;
}
.title-progress-top{
	width: 100%;
}
.top-content .title-progress-top{
	width: auto;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.title-progress-top{
	width: 100%;
}
.top-content .title-progress-top{
	width: auto;
}
.news .first-news img {
    width: auto;
}
.news .second-news img {
    width: auto;
}
.news .third-news img {
    width: auto;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.my_menu ul{
	display: block!important;
}
body{
	padding:0;
	margin: 0;
}
.all-content{
	padding:0;
	margin: 0;
}
.top_header{
	padding: 0;
}
.title-progress-top{
	width: 100%;
}
.top-content .title-progress-top{
	width: auto;
}
.news .first-news img {
    width: auto;
}
.news .second-news img {
    width: auto;
}
.news .third-news img {
    width: auto;
}

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.title-progress-top{
	width: auto;
}
.advertisement{
	margin-top: 0;
}
}
